<!--The content below is only a placeholder and can be replaced.-->
<div class="container-chart-w" id="chart">

    <apx-chart
        class="chart-w"
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [dataLabels]="chartOptions.dataLabels"
        [yaxis]="chartOptions.yaxis"
        [colors]="chartOptions.colors"
        [legend]="chartOptions.legend"
        [fill]="chartOptions.fill"
        [tooltip]="chartOptions.tooltip"
        [stroke]="chartOptions.stroke"
        >
    </apx-chart>

</div>
  