/* Typography
   ========================================================================== */

   * {
      font-family: 'Graphik', "Helvetica Neue", sans-serif;
      font-style: normal;
   }

/* Color
   ========================================================================== */
   
   $primary: #262C7C;
   $secondary: #EB0065;
   $base: #F2F3F7;
   $elements: #DADBE7;

   $content-primary: #6468A1;
   $content-secondary: #BEC1E0;
   $content-title: #2D2E39;
   $content-content: #9195CB;
   $content-dark: #3D3F52;
   
   $white: #FFFFFF;
   $orange: #FF3E29;

   $gray-primary: #B8BACC;
   $gray-medium: #E4E5F7;
   $gray-dark: #878AA1;



/* Size
   ========================================================================== */

   $fz10: 0.625rem;
   $fz12: 0.75rem;
   $fz14: 0.875rem;
   $fz16: 1rem;
   $fz18: 1.125rem;
   $fz20: 1.25rem;
   $fz22: 1.375rem;
   $fz24: 1.5rem;
