.card {
    border-radius: 0.5rem;
    box-shadow: 0px 4px 8px 0px rgba(190,193,224,0.32);
    background-color: $white;
    border: 1px solid transparent;

    &.card__status{
        width: 100%;
        min-height: 9.813rem;
    }

    &.card__data{
        width: 100%;
        padding: 1.25rem;

    }

    &.card__info{
        width: 23.125rem;
        height: 22.313rem;
        overflow: auto;
        padding: 1.75rem;
        margin-bottom: 1.875rem;
        border-radius: 10px;
        @include flexbox-center();

        .card__img{
            width: 6.813rem;
            height: 6.813rem;
            border-radius: 50%;
            margin-bottom: 1.063rem;
        }
        .card__title{
            font-size: 24px;
            line-height: 40px;
            font-weight: 500;
            text-align: center;
            color: $primary;
            width: 100%;
            @extend %truncate;
            margin-bottom: 10px;
        }
        .card__parag{
            font-size: $fz16;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
            color: $content-primary;
            height: 124px;
            overflow: hidden;
            margin: 0;
        }
    }

    &.card__accordion{
        box-shadow: none;
        //border: 1px solid $gray-medium;;
        border-bottom: 1px solid $gray-medium;
        border-radius: 0px;
        
        .card-header{
            background-color: $white;
            padding: .75rem 0;
            border-color: $gray-medium;
            padding: 0;
            .btn__title {
                @include flexbox-center();
                justify-content: space-between;
                color: $primary;
                padding-top: 8.5px;
                padding-left: 0;
                padding-right: 0;
                padding-bottom: 8.5px;
                font-weight: 500;
                font-size: $fz16;
                line-height: 24px;
                text-decoration: initial;
                .bi{
                    margin-left: 5px;
                }
                &[aria-expanded="true"]{
                    .icon__dash{
                        display: block;
                    }
                    .icon__plus{
                        display: none;
                    }
                }
                
                &[aria-expanded="false"]{
                    .icon__dash{
                        display: none;
                    }
                    .icon__plus{
                        display: block;
                    }
                }
                &:focus{
                    box-shadow: none
                }
                &.top{
                    padding-top: 0;
                }
            }
        }

        .card__content{
            padding-left: 0;
            padding-right: 0;
            color: $content-primary;
            font-size: $fz16;
            line-height: 24px;
            font-weight: 400;
        }

    }

    &.card__news{
        width: 23.125rem;
        height: 399px;
        overflow: auto;
        padding: 0;
        margin-bottom: 1.875rem;
        border-radius: 10px;
        @include flexbox-center();
        justify-content: flex-start;
        border: none;

        .news__img{
            width: 100%;
            max-width: 100%;
            height: 43.61%;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            border: none;
            background-size: cover;
            background-color: #C6C6C6;
        }
        
        .news__info{
            width: 100%;
            max-width: 100%;
            height: 56.39%;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border: none;
            padding: 28px;

            .title{
                font-size: 20px;
                color: $primary;
                line-height: 32px;
                font-weight: 500;
                margin-bottom: 10px;
                @extend %truncate;
            }

            .parag{
                font-size: 16px;
                color: $content-primary;
                line-height: 24px;
                font-weight: 400;
                margin-bottom: 28px;
                height: 75px;
                overflow: hidden;
            }

            .bottom__info{
                @include flexbox-center();
                justify-content: space-between;

                .date{
                    font-size: 14px;
                    line-height: 22px;
                    font-weight: 400;
                    color: #878AA1;
                }
                .more{
                    font-size: 14px;
                    line-height: 22px;
                    font-weight: 400;
                    color: $primary;
                    text-align: right;
                    cursor: pointer;
                }
            }
        }
    }

}