.card {
    border-radius: 0.5rem;
    box-shadow: 0px 4px 8px 0px rgba(190,193,224,0.32);
    background-color: $white;
    border: 1px solid transparent;

    /* &.card__status{
    } */
    
    &.card__status{
        width: 100%;
        min-height: 9.813rem;
        padding: 1.25rem;
        //position: absolute;
        //top: -4.906rem;
        @include flexbox-center();
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        @include small(){
            padding: 1rem;
        }

        &.card__status--md{
            min-height: auto;

            .data-status{
                align-items: center;
            }
        }

        .data-status{
            min-height: 5.75rem;
            min-width: 15rem;
            width: 15rem;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            overflow: hidden;
            padding: 0.313rem;
            @include small(){
                min-width: 10rem;
                width: 10rem;
            }
    
            .data-status__img{
                width: 3.188rem;
                height: 3.188rem;
                margin: auto 0;
            }
    
            .data-status__info{
                margin-left: 0.563rem;
                @include small(){
                    margin-left: 0;
                    margin-bottom: 0.125rem;
                }
                
                .status__info-sub{
                    font-size: 0.75rem;
                    color: $content-primary;
                    font-weight: 400;
                    line-height: 1.375rem;
                    margin-top: 0;
                    margin-bottom: 0.125rem;
                    width: 9.375rem;
                    @extend %truncate;
                    @include small(){
                        margin-top: 0.25rem;
                        text-align: center;
                    }
                }
        
                .status__info-title{
                    font-size: 1.5rem;
                    color: $primary;
                    font-weight: 500;
                    line-height: 2.5rem;
                    margin-bottom: 0;
                    width: 9.375rem;
                    text-transform: capitalize;
                    @extend %truncate;
                    @include small(){
                        text-align: center;
                    }
                    .icon-custom{
                        font-size: $fz14;
                        color: $content-dark;
                        margin-left: 0.563rem;
                    }
                }

                .status__trending{
                    display: flex;
                    align-items: center;
                    color: $primary;
                    font-size: 0.75rem;
                    line-height: 1.125rem;

                    &.status__trending--up{
                        color: $orange;
                    }
                    &.status__trending--down{
                        color: $green;
                    }

                    @include small(){
                        justify-content: center;
                    }

                    .trending__icon{
                        font-weight: 400;
                        font-size: 1.125rem;
                        line-height: 1.125rem;
                        height: 1.125rem;
                        width: 1.125rem;
                    }

                    .trending__percentage{
                        font-weight: 400;
                        font-size: 0.75rem;
                        line-height: 1.125rem;
                        margin-left: 0.313rem;

                    }
                }
            }
    
    
        }
    }

    &.card__data{
        width: 100%;
        padding: 1.25rem;

        &.card__data--chart{
            width: 65.75%;
            padding: 1.5rem;

            @include m-large{
                width: 100%;
            }

            .data__header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 0.625rem;
                @include medium{
                    flex-direction: column;
                }
                .title{
                    color: $content-title;
                    font-size: $fz20;
                    font-weight: 500;
                    line-height: 2rem;
                    margin: 0;
                    @include medium{
                        margin-bottom: 0.313rem;
                    }
                }

                .data__sub{
                    //width: 38.96%;
                    width: auto;
                    @include flexbox-center();
                    justify-content: space-between;
                    text-align: right;
                    @include x-small{
                        flex-direction: column;
                    }
                    .subtitle{
                        font-size: $fz16;
                        line-height: 1.5rem;
                        color: $content-primary;
                        margin: 0;
                        margin-right: 0.938rem;
                        @include x-small{
                            margin-right: 0;
                        }
                        &:last-child{
                            margin-right: 0;
                        }
                        .image{
                            padding-left: 0.5rem;
                        }
                    }
                }
            }

            .data__content{
                width: 100%;
                min-height: 34.563rem;
                //background-color: rgba($color: $content-dark, $alpha: .15);
                margin-top: 1.563rem;
                border-radius: 0.313rem;
                border: 1px solid $gray-primary; 

                .content__img{
                    width: 100%;
                    height: 550px;
                }
            }
        }
        
        &.card__data--select{
            width: 31.51%;
            height: 41.875rem;
            padding: 1.5rem;

            @include m-large{
                width: 100%;
                //height: 15.625rem;
                height: 19.063rem;
                margin-bottom: 1.25rem;
            }

            .hr{
                width: 100%;
                margin-top: 1.094rem;
                margin-bottom: 1.094rem;
            }

            .select__input{
                margin-top: 0.625rem;
            }
            
            .select__country-show{
                margin-top: 1rem;

                .select__item-country{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 2.75rem;
                    border: 1px solid #262C7C;
                    border-radius: 0.313rem;
                    background-color: #ffffff;
                    padding: 0 0.875rem;
    
                    .title{
                        color: #262C7C;
                        font-size: $fz14;
                        line-height: 1.375rem;
                        font-weight: 500;
                        text-align: left;
                        width: 50%;
                        @extend %truncate
                    }
    
                    .subtitle{
                        color: #262C7C;
                        font-size: $fz14;
                        line-height: 1.375rem;
                        font-weight: 400;
                        text-align: right;
                        width: 50%;
                        @extend %truncate
                    }
                }
            }

            .select__country-select{
                height: 28.125rem;
                padding-right: 0.125rem;
                overflow: auto;

                .link{
                    text-decoration: none;
                }
                
                .select__item-select{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 2.75rem;
                    border: 1px solid transparent;
                    border-radius: 0.313rem;
                    background-color: #F2F3F7;
                    padding: 0 0.875rem;
                    margin-bottom: 0.875rem;
                    cursor: pointer;
                    transition: 300ms;
                    &:active{
                        transform: scale(0.98);
                    }
                    &:hover{
                        border-color: $black;
                    }

                    .content-country{
                        width: 60%;
                        display: flex;
                        align-items: center;
                        overflow: hidden;
                        .img-country{
                           width: 1.5rem; 
                           height: 1.5rem;
                           border-radius: 50%;
                           margin-right: 0.875rem; 
                        }
                        .title{
                            color:$content-title;
                            font-size: $fz14;
                            line-height: 1.375rem;
                            font-weight: 500;
                            text-align: left;
                            width: 100%;
                            @extend %truncate
                        }
                    }

                    .subtitle{
                        color: $content-primary;
                        font-size: $fz14;
                        line-height: 1.375rem;
                        font-weight: 400;
                        text-align: right;
                        width: 50%;
                        @extend %truncate
                    }

                    
                }
            }

            
        }

    }

    &.card__info{
        width: 23.125rem;
        height: 22.313rem;
        overflow: auto;
        padding: 1.75rem;
        margin-bottom: 1.875rem;
        border-radius: 0.625rem;
        @include flexbox-center();

        .card__img{
            width: 6.813rem;
            height: 6.813rem;
            border-radius: 50%;
            margin-bottom: 1.063rem;
        }
        .card__title{
            font-size: $fz24;
            line-height: 2.5rem;
            font-weight: 500;
            text-align: center;
            color: $primary;
            width: 100%;
            @extend %truncate;
            margin-bottom: 0.625rem;
        }
        .card__parag{
            font-size: $fz16;
            font-weight: 400;
            line-height: 1.5rem;
            text-align: center;
            color: $content-primary;
            height: 7.75rem;
            overflow: hidden;
            margin: 0;
        }
    }

    &.card__accordion{
        box-shadow: none;
        //border: 1px solid $gray-medium;;
        border-bottom: 1px solid $gray-medium;
        border-radius: 0px;
        
        .card-header{
            background-color: $white;
            padding: .75rem 0;
            border-color: $gray-medium;
            padding: 0;
            .btn__title {
                @include flexbox-center();
                justify-content: space-between;
                color: $primary;
                padding-top: 0.531rem;
                padding-left: 0;
                padding-right: 0;
                padding-bottom: 0.531rem;
                font-weight: 500;
                font-size: $fz16;
                line-height: 1.5rem;
                text-decoration: initial;
                .bi{
                    margin-left: 0.313rem;
                }
                &[aria-expanded="true"]{
                    .icon__dash{
                        display: block;
                    }
                    .icon__plus{
                        display: none;
                    }
                }
                
                &[aria-expanded="false"]{
                    .icon__dash{
                        display: none;
                    }
                    .icon__plus{
                        display: block;
                    }
                }
                &:focus{
                    box-shadow: none
                }
                &.top{
                    padding-top: 0;
                }
            }
        }

        .card__content{
            padding-left: 0;
            padding-right: 0;
            color: $content-primary;
            font-size: $fz16;
            line-height: 1.5rem;
            font-weight: 400;
        }

    }

    &.card__news{
        width: 23.125rem;
        height: 24.938rem;
        overflow: auto;
        padding: 0;
        margin-bottom: 1.875rem;
        border-radius: 0.625rem;
        @include flexbox-center();
        justify-content: flex-start;
        border: none;

        .news__img{
            width: 100%;
            max-width: 100%;
            height: 43.61%;
            border-top-right-radius: 0.625rem;
            border-top-left-radius: 0.625rem;
            border: none;
            background-size: cover;
            background-color: #C6C6C6;
        }
        
        .news__info{
            width: 100%;
            max-width: 100%;
            height: 56.39%;
            border-bottom-right-radius: 0.625rem;
            border-bottom-left-radius: 0.625rem;
            border: none;
            padding: 1.75rem;

            .title{
                font-size: $fz20;
                color: $primary;
                line-height: 2rem;
                font-weight: 500;
                margin-bottom: 0.625rem;
                @extend %truncate;
            }

            .parag{
                font-size: $fz16;
                color: $content-primary;
                line-height: 1.5rem;
                font-weight: 400;
                margin-bottom: 1.75rem;
                height: 4.688rem;
                overflow: hidden;
            }

            .bottom__info{
                @include flexbox-center();
                justify-content: space-between;

                .date{
                    font-size: $fz14;
                    line-height: 1.375rem;
                    font-weight: 400;
                    color: $gray-dark;
                }
                .more{
                    font-size: $fz14;
                    line-height: 1.375rem;
                    font-weight: 400;
                    color: $primary;
                    text-align: right;
                    cursor: pointer;
                }
            }
        }
    }

}