.input__group {
    display: flex;
    position: relative;
    border: 1px solid;
    border-radius: 0.313rem;
    border-color: $gray-primary;
    .input__location{
        box-shadow: none 
    }
    .form-control{
        height: 2.75rem;
        font-size: $fz14;
        border-radius: 0.313rem;
        color: $content-content;
        border-color: transparent;
        width: 80%;
        &:focus{
            box-shadow: 0 0 0 0.2rem rgb(255, 255, 255, 0%);
        }
        &::placeholder{
            color: $content-content;
            font-size: $fz14;
        }
    }

    %btn__icon{
        width: 1.75rem;
        height: 1.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0.75rem;
        bottom: 50%;
        transform: translate(0, 50%);
        background-color: $base;

        .mat-icon{
            height: $fz16;
            width: $fz16;
            font-size: $fz16;
            line-height: $fz16;
            color: $gray-dark;
        }
    }

    .btn__icon-close{
        @extend %btn__icon;
        right: 2.75rem;
    }
    .btn__icon-location{
        @extend %btn__icon;
        right: 0.75rem;
    }


}