.navbar__custom{
    width: 100%;
    min-height: 5.5rem;
    background-color:  $primary;
    color: $white;
    border-bottom: 1px solid $content-secondary;
    @include min-x-large(){
        padding: 0;
    }

    .nav__container{
        @include large(){
            padding: .625rem 0;
        }
        @include min-x-large(){
            width: 80.42%;
        }
    }

    .nav__logo{
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
    }

    .nav__logo-image{
        width: 3.323rem;
        height: 3.323rem;
        margin-right: 0.901rem;
    }

    .nav__container-items{
        margin-top: 0.625rem;
        .nav__item{
            text-align: right;
            margin-right: 0.625rem;
            @include flexbox-center();
            @include large(){
                display: block;
                padding: 0;
            }
            .nav__link{
                padding: 0 1.8rem;
                color: $content-secondary;
                font-size: $fz14;
                line-height: $fz22;
                letter-spacing: 0.2px;
                @include large(){
                    display: block;
                    padding: .5rem 0;
                    font-size: $fz16;
                }
                @include min-xx-large(){ 
                    padding: 0 2.2rem;
                }
                &.nav__link--active{
                    color: $secondary;
                }
            }
        }
    }


}


/* Vertical navs
   ========================================================================== */

.navs__vertical{
    @include flexbox-center();
    justify-content: space-between;
    background-color: $white;
    color: $content-primary;
    border: 2px solid $elements;
    //box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.25);
    //border-radius: 4px;
    height: 44px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 10px;
    transition: 300ms;
    @extend %truncate;
    &:hover{
        color: $content-primary;
        border: 2px solid $primary;
    }

    &.active{
        background-color: $white;
        color: $primary;
        border: 2px solid $primary;
        box-shadow: 0px 2px 4px 0px rgba($primary,0.25);
    }

    .icon__caret-r{
        height: 100%;
        @include flexbox-center();
        font-size: 12px;
    }
}


.nav-pills {
    .nav-link{
        &.active{
            background-color: $white;
            color: $primary;
            border: 2px solid $primary;
            box-shadow: 0px 2px 4px 0px rgba($primary,0.25);
        }
    }

} 