
/* Own
   ========================================================================== */

.btn__primary {
    @include flexbox-center();
    border-color: $white;
    font-size: $fz14;
    background-color: $primary;
    transition: 0.3s;
    border-radius: 6px;
    &:hover,
    &:active,
    &:focus,
    &:not(:disabled):not(.disabled):active{
        background-color: $primary;
        border-color: rgba($white, $alpha: .6)
    }

    &:active{
        transform: scale(.95);
    }
}

.btn__secondary {
    @include flexbox-center();
    border-color: transparent;
    font-size: $fz14;
    background-color: $secondary;
    transition: 0.3s;
    border-radius: 6px;
    &:hover,
    &:active,
    &:focus,
    &:not(:disabled):not(.disabled):active{
        background-color: $secondary;
        border-color: $secondary;
    }

    &:active{
        transform: scale(.95);
    }
}


/* External
   ========================================================================== */

.navbar-toggler {

    &.navbar-toggler--white{
        color: white;
        border-color: white;
    }

    .navbar-toggler-icon--white{
        filter: invert(100%) sepia(100%) 
        saturate(0%) hue-rotate(126deg) 
        brightness(107%) contrast(101%);
    }
}