.card {
    border-radius: 0.5rem;
    box-shadow: 0px 4px 8px 0px rgba(190,193,224,0.32);
    background-color: $white;
    border: 1px solid transparent;

    &.card__status{
        width: 100%;
        min-height: 9.813rem;
    }

    &.card__data{
        width: 100%;
        padding: 1.25rem;

    }

}