.nav{
    width: 100%;
    min-height: 5.5rem;
    background-color:  $primary;
    color: $white;
    border-bottom: 1px solid $content-secondary;

    .nav-container{
        @include large(){
            padding: .625rem 0;
        }
        @include min-x-large(){
            width: 80.42%;
            padding: 0;
        }
    }

    .nav__logo{
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
    }

    .nav__logo-image{
        width: 3.323rem;
        height: 3.323rem;
        margin-right: 0.901rem;
    }

    .nav__container{
        .nav__item{
            @include flexbox-center();
            @include large(){
                display: block;
                padding: 0;
            }
            .nav__link{
                padding: 0 2.2rem;
                color: $content-secondary;
                font-size: $fz14;
                line-height: $fz22;
                letter-spacing: 0.2px;
                @include large(){
                    display: block;
                    padding: .5rem 0;
                }
                &.nav__link--active{
                    color: $secondary;
                }
            }
        }
    }


}