<div class="news">
    <div class="container-fluid | news__container">
        <section class="news__primary">
            <h3 class="typo__title">News topics</h3>

            <div class="cards__content">
                
                <div class="card card__news">
                    <div class="news__img">
                    <!-- <div 
                        class="news__img" 
                        style="background-image: 
                        url(https://cdn.cnn.com/cnnnext/dam/assets/191203092849-black-widow-trailer-grab-exlarge-169.jpg);"> -->
                    </div>
                    <div class="news__info">
                        <h4 class="title">
                            Wearing face mask working
                        </h4>
                        <p class="parag">
                            If you wear a mask, then you must know how to use it and dispose of it properly. When…
                        </p>
                        <div class="bottom__info">
                            <span class="date">
                                10 Mar 2020
                            </span>
                            <span class="more">
                                read more
                            </span>
                        </div>
                    </div>
                </div>

                <div class="card card__news">
                    <div class="news__img">
                    <!-- <div 
                        class="news__img" 
                        style="background-image: 
                        url(https://cdn.cnn.com/cnnnext/dam/assets/191203092849-black-widow-trailer-grab-exlarge-169.jpg);"> -->
                    </div>
                    <div class="news__info">
                        <h4 class="title">
                            Cleaning hands with sanitizer
                        </h4>
                        <p class="parag">
                            Washing your hands can protect you and your ... Also, alcohol-based hand sanitizer kills the coronavirus…
                        </p>
                        <div class="bottom__info">
                            <span class="date">
                                21 Oct 2020
                            </span>
                            <span class="more">
                                read more
                            </span>
                        </div>
                    </div>
                </div>

                <div class="card card__news">
                    <div class="news__img">
                    <!-- <div 
                        class="news__img" 
                        style="background-image: 
                        url(https://cdn.cnn.com/cnnnext/dam/assets/191203092849-black-widow-trailer-grab-exlarge-169.jpg);"> -->
                    </div>
                    <div class="news__info">
                        <h4 class="title">
                            Stay home
                        </h4>
                        <p class="parag">
                            Stay home. Save lives.​. As COVID-19 continues to impact communities around the world…
                        </p>
                        <div class="bottom__info">
                            <span class="date">
                                15 May 2020
                            </span>
                            <span class="more">
                                read more
                            </span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="btn__content">
                <button class="btn | btn__secondary">
                    View all
                    <i _ngcontent-cus-c294="" class="bi bi-chevron-right | icon__custom"></i>
                </button>
            </div>

        </section>

    </div>
</div>