<div class="info">
    <div class="container-fluid | info__container">
        
        <section class="info__primary">
            <h3 class="typo__title">How coronavirus spread</h3>
        
            <div class="cards__primary">
                <div class="card card__info">
                    <img 
                        class="card__img" 
                        src="../../../../assets/image/info/spread-a.svg" 
                        alt="sprend-a">
                    <h4 class="card__title">
                        Person-to-person spread
                    </h4>
                    <p class="card__parag">
                        The coronavirus is thought to spread mainly 
                        from person to person. This can happen 
                        between people who are in close contact 
                        with one another. 
                    </p>
                </div>
                
                <div class="card card__info">
                    <img 
                        class="card__img" 
                        src="../../../../assets/image/info/spread-b.svg" 
                        alt="sprend-a">
                    <h4 class="card__title">
                        Person coughs or sneezes
                    </h4>
                    <p class="card__parag">
                        The coronavirus is thought to spread 
                        mainly from person to person. This can 
                        happen between people who are in close 
                        contact with one another.
                    </p>
                </div>

                <div class="card card__info">
                    <img 
                        class="card__img" 
                        src="../../../../assets/image/info/spread-c.svg" 
                        alt="sprend-a">
                    <h4 class="card__title">
                        Sore Throat
                    </h4>
                    <p class="card__parag">
                        A sore throat can make it painful 
                        to eat and even talk. It brings 
                        scratchiness and irritation to the 
                        throat that can become worse when 
                        swallowing.
                    </p>
                </div>


            </div>
        </section>

        <section class="info__primary">
            <h3 class="typo__title">
                Symptoms of coronavirus
            </h3>
        
            <div class="cards__primary">
                <div class="card card__info">
                    <img 
                        class="card__img" 
                        src="../../../../assets/image/info/symp-a.svg" 
                        alt="sprend-a">
                    <h4 class="card__title">
                        Fever
                    </h4>
                    <p class="card__parag">
                        High Fever – this means you feel hot to touch
                        on your chest or back (you do not need to measure your temperature). 
                        It is a common sign and also may appear in 2-10 
                        days if you affected.
                    </p>
                </div>
                
                <div class="card card__info">
                    <img 
                        class="card__img" 
                        src="../../../../assets/image/info/symp-b.svg" 
                        alt="sprend-a">
                    <h4 class="card__title">
                        Dry cough
                    </h4>
                    <p class="card__parag">
                        Continuous cough – this means coughing 
                        a lot for more than an hour, or 3 or 
                        more coughing episodes in 24 hours 
                        (if you usually have a cough, it may be worse than usual).
                    </p>
                </div>

                <div class="card card__info">
                    <img 
                        class="card__img" 
                        src="../../../../assets/image/info/symp-c.svg" 
                        alt="sprend-a">
                    <h4 class="card__title">
                        Sore Throat
                    </h4>
                    <p class="card__parag">
                        A sore throat can make it painful 
                        to eat and even talk. It brings 
                        scratchiness and irritation to the 
                        throat that can become worse when 
                        swallowing.
                    </p>
                </div>

            </div>
            <div id="prevent"></div>
        </section>
        
        <section class="info__secondary">
            <h3 class="typo__title">
                how to prevent coronavirus
            </h3>

            <div class="cards__secondary">
                
                <div class="card card__info">
                    <img 
                        class="card__img" 
                        src="../../../../assets/image/info/pre-a.svg" 
                        alt="sprend-a">
                    <h4 class="card__title">
                        Wash your hands regularly with soap
                    </h4>
                    <p class="card__parag">
                        Handwashing is one of the best ways to 
                        protect yourself and your family from 
                        getting sick. Learn when and how you 
                        should wash your hands to stay healthy.
                    </p>
                </div>

                <div class="card card__info">
                    <img 
                        class="card__img" 
                        src="../../../../assets/image/info/pre-b.svg" 
                        alt="sprend-a">
                    <h4 class="card__title">
                        Stay home if you feel unwell.
                    </h4>
                    <p class="card__parag">
                        Most people with COVID-19 have mild 
                        illness and are able to recover at 
                        home without medical care. Do not 
                        leave your home, except to get medical 
                        care. 
                    </p>
                </div>

                <div class="card card__info">
                    <img 
                        class="card__img" 
                        src="../../../../assets/image/info/pre-c.svg" 
                        alt="sprend-a">
                    <h4 class="card__title">
                        Avoid touching your face.
                    </h4>
                    <p class="card__parag">
                        To help prevent infections, keep your
                        hands away from your eyes, nose, and 
                        mouth. Why? Touching the mucous 
                        membranes on your face.
                    </p>
                </div>

                <div class="card card__info">
                    <img 
                        class="card__img" 
                        src="../../../../assets/image/info/pre-d.svg" 
                        alt="sprend-a">
                    <h4 class="card__title">
                        Cover your mouth and nose
                    </h4>
                    <p class="card__parag">
                        Cover your mouth and nose with a tissue 
                        when you cough or sneeze. Put your used 
                        tissue in a waste basket. If you don't 
                        have a tissue, cough or sneeze into your.
                    </p>
                </div>

            </div>




        </section>

    </div>
</div>
