.fqa{
    background-color: $white;
    .fqa__container{
        width: 100%;
        @include min-x-large(){
            width: 80.42%;
        }
    }

    .faq__info{
        .typo__title{
            text-align: center;
            text-transform: uppercase;
            margin-top: 4.063rem;
            margin-bottom: 4.75rem;
        }

        .faq__content{
           margin-bottom: 5.688rem; 
        }

        .faq__accordion{
            width: 100%;
            display: flex;
            @include large(){
                flex-direction: column;
            }
            .accordion__selection{
                width: 30%;
                padding: 0 1.031rem;
                transition: 500ms;
                @include large(){
                    width: 100%;
                    padding-bottom: 0.938rem;
                }

                .nav-pills{
                    flex-direction: column;
                    @include medium(){
                        height: 3.375rem;

                        .navs__vertical{
                            width: 100%;
                            &[aria-selected="false"]{
                                display: none;
                                transition: 500ms;
                            }
                        }

                        &:hover{
                            height: auto;
                            .navs__vertical{
                                &[aria-selected="false"]{
                                    display: flex;
                                }
                            }
                        }
                        
                    }
                    @include large(){
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: center;
                        .navs__vertical{
                            min-width: 13.438rem;
                            .icon__caret-r{
                                transform: rotate(90deg);
                            }
                        }
                    }
                }
            }

            .accordion__content{
                width: 70%;
                padding: 0 1.031rem;
                @include large(){
                    width: 100%;
                    min-height: 17.188rem;
                    padding-bottom: 0.938rem;

                }
            }
        }

        .accordion {
            > .card {
                &:not(:last-of-type) {
                    border-bottom: 1px solid $gray-medium;
                }
            }
        }
    }
}