.info{
    width: 100%;
    background-color: $base;
    @include flexbox-center();

    .info__container{
        @include min-x-large(){
            width: 80.42%;
        }
    }

    .info__primary {
        margin-bottom: 1.75rem;
        .typo__title{
            text-align: center;
            margin-bottom: 4.5rem;
        }

        .cards__primary{
            @include flexbox-center();
            justify-content: space-between;
            flex-wrap: wrap;
            
            @include xx-large{
                justify-content: space-around;
            }
        }
    }

    .info__secondary{
        margin-bottom: 1.75rem;
        .typo__title{
            text-align: center;
            margin-bottom: 4.5rem;
        }

        .cards__secondary{
            @include flexbox-center();
            justify-content: space-between;
            flex-wrap: wrap;

            @include xx-large{
                justify-content: space-around;
            }

            .card__info{
                width: 16.875rem; 
                height: 25.875rem;
                padding: 0;
                background-color: transparent;
                box-shadow: none;
                align-items: flex-start;
                @include small(){
                    width: 85%;
                }
                .card__img{
                    width: 8.25rem;
                    height: 8.25rem;
                    margin-bottom: 1.688rem;
                }

                .card__title{
                    text-align: left;
                    white-space: initial;
                    text-overflow: inherit;
                    height: 4.25rem;
                    line-height: 2.25rem;
                    margin-bottom: 1.5rem;
                }

                .card__parag{
                    text-align: left;
                    height: 10.188rem;
                }
            }
        }



    }
}