.main{
    width: 100%;
    min-height: 200vh;
    background-color: $base;
    @include flexbox-center();
    position: relative;

    .main__container{
        top: -4.906rem;
        position: absolute;
        @include min-x-large(){
            width: 80.42%;
        }
    }

    .card__status{
        padding: 1.25rem;
        //position: absolute;
        //top: -4.906rem;
        @include flexbox-center();
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        @include small(){
            padding: 1rem;
        }

        .data-status{
            //width: 20%;
            min-width: 15rem;
            width: 15rem;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            overflow: hidden;
            padding: 0.313rem;
            @include small(){
                min-width: 10rem;
                width: 10rem;
            }
    
            .data-status__img{
                width: 3.188rem;
                height: 3.188rem;
            }
    
            .data-status__info{
                margin-left: 0.563rem;
                @include small(){
                    margin-left: 0;
                }
                
                .status__info-sub{
                    font-size: 0.75rem;
                    color: #6468A1;
                    font-weight: 400;
                    line-height: 1.375rem;
                    margin-top: 0;
                    margin-bottom: 0.125rem;
                    width: 150px;
                    @extend %truncate;
                    @include small(){
                        text-align: center;
                    }
                }
        
                .status__info-title{
                    font-size: 1.5rem;
                    color: #262C7C;
                    font-weight: 500;
                    line-height: 2.5rem;
                    margin-bottom: 0;
                    width: 9.375rem;
                    @extend %truncate;
                    @include small(){
                        text-align: center;
                    }
                    .icon-custom{
                        font-size: $fz14;
                        color: #3D3F52;
                        margin-left: 0.563rem;
                    }
                }
            }
    
    
        }
    }

    .card__data{
        
        &.card__data--chart{
            width: 65.75%;
            padding: 1.5rem;

            @include m-large{
                width: 100%;
            }

            .data__header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 0.625rem;
                @include medium{
                    flex-direction: column;
                }
                .title{
                    color: $content-title;
                    font-size: $fz20;
                    font-weight: 500;
                    line-height: 2rem;
                    margin: 0;
                    @include medium{
                        margin-bottom: 5px;
                    }
                }

                .data__sub{
                    //width: 38.96%;
                    width: auto;
                    @include flexbox-center();
                    justify-content: space-between;
                    text-align: right;
                    .subtitle{
                        font-size: $fz16;
                        line-height: 1.5rem;
                        color: $content-primary;
                        margin: 0;
                        margin-right: 15px;
                        &:last-child{
                            margin-right: 0px;
                        }
                        .image{
                            padding-left: 0.5rem;
                        }
                    }
                }
            }

            .data__content{
                width: 100%;
                min-height: 34.563rem;
                background-color: rgba($color: $content-dark, $alpha: .15);
                margin-top: 1.563rem;
                border-radius: 0.313rem;
            }
        }
        
        &.card__data--select{
            width: 31.51%;
            height: 670px;
            padding: 1.5rem;

            @include m-large{
                width: 100%;
                //height: 250px;
                height: 305px;
                margin-bottom: 20px;
            }

            .hr{
                width: 100%;
                margin-top: 17.5px;
                margin-bottom: 17.5px;
            }

            .select__input{
                margin-top: 10px;
            }
            
            .select__country-show{
                margin-top: 16px;

                .select__item-country{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 44px;
                    border: 1px solid #262C7C;
                    border-radius: 5px;
                    background-color: #ffffff;
                    padding: 0 14px;
    
                    .title{
                        color: #262C7C;
                        font-size: $fz14;
                        line-height: 22px;
                        font-weight: 500;
                        font-style: Medium;
                        text-align: left;
                        width: 50%;
                        @extend %truncate
                    }
    
                    .subtitle{
                        color: #262C7C;
                        font-size: $fz14;
                        line-height: 22px;
                        font-weight: 400;
                        font-style: normal;
                        text-align: right;
                        width: 50%;
                        @extend %truncate
                    }
                }
            }

            .select__country-select{
                height: 470px;
                overflow: auto;
                
                .select__item-select{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 44px;
                    border: 1px solid transparent;
                    border-radius: 5px;
                    background-color: #F2F3F7;
                    padding: 0 14px;
                    margin-bottom: 14px;
                    &:hover{
                        border-color: #000000;
                    }

                    .content-country{
                        width: 60%;
                        display: flex;
                        align-items: center;
                        overflow: hidden;
                        .img-country{
                           width: 24px; 
                           height: 24px;
                           border-radius: 50%;
                           margin-right: 14px; 
                        }
                        .title{
                            color: #2D2E39;
                            font-size: $fz14;
                            line-height: 22px;
                            font-weight: 500;
                            font-style: Medium;
                            text-align: left;
                            width: 50%;
                            @extend %truncate
                        }
                    }

                    .subtitle{
                        color: #6468A1;
                        font-size: $fz14;
                        line-height: 22px;
                        font-weight: 400;
                        font-style: normal;
                        text-align: right;
                        width: 40%;
                        @extend %truncate
                    }

                    
                }
            }

            
        }
    }


}