.country{
    //min-height: calc(300vh - 88px);
    background-color: $base;

    .country__container{
        padding: 2rem;
        padding-top: 4.063rem;
        padding-bottom: 4.75rem;

        @include min-x-large(){
            width: 80.42%;
        }
    }

    .section__data{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        
        margin-bottom: 0px;

        .container__map-chart{
            //width: 73.165%;
            width: 65.75%;

            @include m-large{
                width: 100%;
            }

            .container__charts{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;

                @include medium{
                    width: 100%;
                    flex-direction: column
                }
            }

        }

        .card__data--map-country{
            @include flexbox-center();
            min-height: calc(100vh - 88px - 64px); // a.vh b.navbar c.padding
            margin-bottom: 2rem;

            @include small{
                min-height: 550px;
            }
        }

        .card__data--select{
            top: 2rem;
            position: sticky;
            //width: 24.635%;
            width: 31.51%;
            height: calc(100vh - 88px - 64px); // a.vh b.navbar c.padding

            @include m-large{
                top: 0;
                position: static;
                width: 100%;
                height: 370px;
            }
            
            @include small{
                //height: 370px
                height: 19.063rem;
            }

        }

        .card__data--charts-dual{
            width: 48.495%;
            min-height: 352px;

            @include medium{
                width: 100%;
                
                &:first-child{
                    margin-bottom: 2rem;
                }

            }
        }
        


    }

    
    
}