<nav class="navbar navbar-expand-lg navbar-light | navbar__custom">
    <div class="container-fluid | nav__container">

        <a class="nav__logo" [routerLink]="['home']">
            <img class="nav__logo-image" 
            src="../../../assets/image/nav-logo.svg" 
            alt="navLogo">
            Covid-19
        </a>
    
        <button class="navbar-toggler | navbar-toggler--white" 
            type="button" 
            data-toggle="collapse" 
            data-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
          <span class="navbar-toggler-icon | navbar-toggler-icon--white"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto | nav__container-items">
            <li class="nav__item">
              <a 
                class="nav-link | nav__link nav__link--active" 
                [routerLink]="['home']">
                Home 
            </a>
            </li>
            <li class="nav__item">
              <a class="nav-link | nav__link" [routerLink]="['country', code, location]">Country</a>
            </li>
            <li class="nav__item">
              <a class="nav-link | nav__link" [routerLink]="['home']">News</a>
            </li>
            <li class="nav__item">
              <a class="nav-link | nav__link" href="https://aaronch.com/" target="_blank" >Contact Us</a>
            </li>
          </ul>
        </div>
    </div>
  </nav>