<nav class="navbar navbar-expand-lg navbar-light | nav">
    <div class="container-fluid | nav-container">

        <a class="nav__logo" [routerLink]="['home']">
            <img class="nav__logo-image" src="../../../assets/image/nav-logo.svg" alt="navLogo">
            Covid-19
        </a>
    
        <button class="navbar-toggler | navbar-toggler--white" 
            type="button" 
            data-toggle="collapse" 
            data-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
          <span class="navbar-toggler-icon | navbar-toggler-icon--white"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto | nav__container">
            <li class="nav__item">
              <a 
                class="nav-link | nav__link nav__link--active" 
                href="#">
                Home 
            </a>
            </li>
            <li class="nav__item">
              <a class="nav-link | nav__link" href="#">Our Results</a>
            </li>
            <li class="nav__item">
              <a class="nav-link | nav__link" href="#">Exterior</a>
            </li>
            <li class="nav__item">
              <a class="nav-link | nav__link" href="#">Interior</a>
            </li>
            <li class="nav__item">
              <a class="nav-link | nav__link" href="#">About Us</a>
            </li>
            <li class="nav__item">
              <a class="nav-link | nav__link" href="#">Contact Us</a>
            </li>
          </ul>
        </div>
    </div>
  </nav>