.main{
    width: 100%;
    //min-height: 118vh;
    //position: relative;
    background-color: $base;
    @include flexbox-center();
    
    .main__container{
        top: -4.906rem;
        position: relative;
        //position: absolute;
        @include min-x-large(){
            width: 80.42%;
        }
    }


}