<main class="main">
    <div class="container-fluid | main__container">
        
        <section class="section__status">
            <div class="card card__status">

                <div class="data-status">
                    <img class="data-status__img" src="../../../../assets/image/data-status-a.svg" alt="global-data">
                    <div class="data-status__info">
                        <p class="status__info-sub">
                            Stats Overview
                        </p>
                        <p class="status__info-title">
                            Global
                            <!-- <i class="bi bi-chevron-down | icon-custom"></i> -->
                        </p>
                    </div>
                </div>

                <div class="data-status">
                    <img class="data-status__img" 
                    src="../../../../assets/image/data-status-b.svg" alt="global-data">
                    <div class="data-status__info">
                        <p class="status__info-sub">
                            Total Coronavirus Cases                        </p>
                        <p class="status__info-title">
                            1,245,347
                        </p>
                    </div>
                </div>

                <div class="data-status">
                    <img class="data-status__img" 
                    src="../../../../assets/image/data-status-c.svg" alt="global-data">
                    <div class="data-status__info">
                        <p class="status__info-sub">
                            Total Recovered                       </p>
                        <p class="status__info-title">
                            259,544
                        </p>
                    </div>
                </div>

                <div class="data-status">
                    <img class="data-status__img" src="../../../../assets/image/data-status-d.svg" alt="global-data">
                    <div class="data-status__info">
                        <p class="status__info-sub">
                            Total Deaths                       </p>
                        <p class="status__info-title">
                            68,184
                        </p>
                    </div>
                </div>

            </div>
        </section>

        <section class="section__data">
        
            <div class="card card__data card__data--chart">
                
                <div class="data__header">
                    <p class="title">
                        Covid-19 Affected Areas
                    </p>
                    <div class="data__sub">
                        <p class="subtitle">
                            Most affected
                            <img 
                                class="image" 
                                src="../../../../assets/image/bgt-a.svg" alt="img-bgta">
                        </p>
                        <p class="subtitle">
                            Lass Affected
                            <img 
                                class="image" 
                                src="../../../../assets/image/bgt-b.svg" alt="img-bgta">
                        </p>
                    </div>

                </div>
                <div class="data__content">

                    <app-map-bubbles></app-map-bubbles>

                </div>
            </div>
            
            <div class="card card__data card__data--select">
                
                <div class="select__input">
                    <div class="input__group input__location">
                        <input 
                            type="text" 
                            class="form-control" 
                            placeholder="Filter to a location"
                            [(ngModel)]="country"
                            >
                        <button 
                            class="btn__icon-close"
                            mat-button *ngIf="country" 
                            matSuffix mat-icon-button 
                            aria-label="Clear" (click)="country=''">
                            <mat-icon>close</mat-icon>
                        </button>
                        <button 
                            class="btn__icon-location"
                            mat-button
                            matSuffix mat-icon-button 
                            aria-label="Location" (click)="country='Spain'">
                            <mat-icon>near_me</mat-icon>
                        </button>
                    </div>
                      

                </div>

                <div class="select__country-show">
                    <div class="select__item-country">
                        <span class="title">Global</span>
                        <span class="subtitle">1,245,347</span>
                    </div>
                </div>

                <hr class="hr">
                
                <div class="select__country-select">

                    <div class="select__item-select">
                        <div class="content-country">
                            <img class="img-country" 
                            src="../../../../assets/image/venezuela-flag.png" 
                            alt="Venezuela">
                            <span class="title">Venezuela</span>
                        </div>
                        <span class="subtitle">145,347</span>
                    </div>
                    
                    <div class="select__item-select">
                        <div class="content-country">
                            <img class="img-country" 
                            src="../../../../assets/image/venezuela-flag.png" 
                            alt="Venezuela">
                            <span class="title">Venezuela</span>
                        </div>
                        <span class="subtitle">145,347</span>
                    </div>

                    <div class="select__item-select">
                        <div class="content-country">
                            <img class="img-country" 
                            src="../../../../assets/image/venezuela-flag.png" 
                            alt="Venezuela">
                            <span class="title">Venezuela</span>
                        </div>
                        <span class="subtitle">145,347</span>
                    </div>

                    <div class="select__item-select">
                        <div class="content-country">
                            <img class="img-country" 
                            src="../../../../assets/image/venezuela-flag.png" 
                            alt="Venezuela">
                            <span class="title">Venezuela</span>
                        </div>
                        <span class="subtitle">145,347</span>
                    </div>

                    <div class="select__item-select">
                        <div class="content-country">
                            <img class="img-country" 
                            src="../../../../assets/image/venezuela-flag.png" 
                            alt="Venezuela">
                            <span class="title">Venezuela</span>
                        </div>
                        <span class="subtitle">145,347</span>
                    </div>

                    <div class="select__item-select">
                        <div class="content-country">
                            <img class="img-country" 
                            src="../../../../assets/image/venezuela-flag.png" 
                            alt="Venezuela">
                            <span class="title">Venezuela</span>
                        </div>
                        <span class="subtitle">145,347</span>
                    </div>

                    <div class="select__item-select">
                        <div class="content-country">
                            <img class="img-country" 
                            src="../../../../assets/image/venezuela-flag.png" 
                            alt="Venezuela">
                            <span class="title">Venezuela</span>
                        </div>
                        <span class="subtitle">145,347</span>
                    </div>

                    <div class="select__item-select">
                        <div class="content-country">
                            <img class="img-country" 
                            src="../../../../assets/image/venezuela-flag.png" 
                            alt="Venezuela">
                            <span class="title">Venezuela</span>
                        </div>
                        <span class="subtitle">145,347</span>
                    </div>

                    

                </div>

            </div>

        </section>
        
    </div>
</main>