<main class="main">
    <div class="container-fluid | main__container">
        
        <section class="section__status">
            <div class="card card__status">

                <div class="data-status">
                    <img class="data-status__img" src="../../../../assets/image/data-status-a.svg" alt="global-data">
                    <div class="data-status__info">
                        <p class="status__info-sub">
                            Stats Overview
                        </p>
                        <p class="status__info-title">
                            Global
                        </p>
                        <div class="status__trending" *ngIf="currentDate">
                            {{currentDate | date: 'fullDate'}}
                        </div>
                    </div>
                </div>

                <div class="data-status">
                    <img class="data-status__img" 
                    src="../../../../assets/image/data-status-b.svg" alt="global-data">
                    <div class="data-status__info">
                        <p class="status__info-sub">
                            Total Coronavirus Cases                        </p>
                        <p class="status__info-title" *ngIf="totalConfirmed">
                            {{totalConfirmed | number}}
                        </p>
                        <p class="status__info-title" *ngIf="!totalConfirmed">
                            loading...
                        </p>
                        <div class="status__trending status__trending--up" *ngIf="trendingConfirmed">
                            <mat-icon class="trending__icon" >trending_up</mat-icon> 
                            <span class="trending__percentage">
                                {{trendingConfirmed | number:'1.0-3' }}%
                            </span>
                        </div>
                    </div>
                </div>

                <div class="data-status">
                    <img class="data-status__img" 
                    src="../../../../assets/image/data-status-c.svg" alt="global-data">
                    <div class="data-status__info">
                        <p class="status__info-sub">
                            Total Recovered                       
                        </p>
                        <p class="status__info-title" *ngIf="totalRecovered">
                            {{totalRecovered | number}}
                        </p>
                        <p class="status__info-title" *ngIf="!totalRecovered">
                            loading...
                        </p>
                        <div class="status__trending status__trending--down" *ngIf="trendingRecovered">
                            <mat-icon class="trending__icon" >trending_down</mat-icon> 
                            <span class="trending__percentage"> 
                                {{trendingRecovered | number:'1.0-3' }}%
                            </span>
                        </div>
                    </div>
                </div>

                <div class="data-status">
                    <img class="data-status__img" src="../../../../assets/image/data-status-d.svg" alt="global-data">
                    <div class="data-status__info">
                        <p class="status__info-sub">
                            Total Deaths                       
                        </p>
                        <p class="status__info-title" *ngIf="totalDeaths">
                            {{totalDeaths | number}}
                        </p>
                        <p class="status__info-title" *ngIf="!totalDeaths">
                            loading...
                        </p>
                        <div class="status__trending status__trending--up" *ngIf="trendingDeaths">
                            <mat-icon class="trending__icon" >trending_up</mat-icon> 
                            <span class="trending__percentage"> 
                                {{trendingDeaths | number:'1.0-3' }}%
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="section__data">
        
            <div class="card card__data card__data--chart">
                
                <div class="data__header">
                    <p class="title">
                        Covid-19 Affected Areas
                    </p>
                    <div class="data__sub">
                        <p class="subtitle">
                            Most affected
                            <img 
                                class="image" 
                                src="../../../../assets/image/bgt-a.svg" alt="img-bgta">
                        </p>
                        <p class="subtitle">
                            Lass Affected
                            <img 
                                class="image" 
                                src="../../../../assets/image/bgt-b.svg" alt="img-bgta">
                        </p>
                    </div>

                </div>
                <div class="data__content">

                    <app-map-bubbles
                        *ngIf="mapDataCountries"
                        [mapValue]="mapDataCountries"
                    >
                    </app-map-bubbles>

                </div>
            </div>
            
            <div class="card card__data card__data--select">
                
                <div class="select__input">
                    <div class="input__group input__location">
                        <input 
                            type="text" 
                            class="form-control" 
                            placeholder="Filter to a location"
                            [(ngModel)]="country"
                            >
                        <button 
                            class="btn__icon-close"
                            mat-button *ngIf="country" 
                            matSuffix mat-icon-button 
                            aria-label="Clear" (click)="country=''">
                            <mat-icon>close</mat-icon>
                        </button>
                        <button 
                            class="btn__icon-location"
                            mat-button
                            matSuffix mat-icon-button 
                            aria-label="Location" (click)="country='Spain'">
                            <mat-icon>near_me</mat-icon>
                        </button>
                    </div>
                      

                </div>

                <div class="select__country-show">
                    <div class="select__item-country">
                        <span class="title">Global</span>
                        <span class="subtitle">
                            {{totalConfirmed | number}}
                        </span>
                    </div>
                </div>

                <hr class="hr">
                
                <div class="select__country-select">
                    
                    <div 
                        class="select__item-select" 
                        *ngFor="let country of countries"
                        >
                        <div class="content-country">
                            <img class="img-country" 
                            src="https://www.countryflags.io/{{country.CountryCode}}/flat/64.png" 
                            [alt]="country.Country">
                            <span class="title">
                                {{country.Country}} 
                            </span>
                        </div>
                        <span class="subtitle">
                            {{country.TotalConfirmed | number}}
                        </span>
                    </div>
                </div>

            </div>

        </section>
        
    </div>
</main>