<div class="fqa">
    <div class="container-fluid | fqa__container">
        
        <section class="faq__info">
            <h3 class="typo__title">
                FAQ
            </h3>

            <div class="faq__content">
                
                <div class="faq__accordion">
                    <div class="accordion__selection">
                      <div 
                        class="nav nav-pills" 
                        id="v-pills-tab" 
                        role="tablist" 
                        aria-orientation="vertical">

                        <a class="nav-link active | navs__vertical" 
                            id="v-pills-p1-tab" 
                            data-toggle="pill" 
                            href="#v-pills-p1" 
                            role="tab" 
                            aria-controls="v-pills-p1" 
                            aria-selected="true">
                            COVID-19
                            <i class="bi bi-caret-right-fill | icon__caret-r"></i>
                        </a>
                        
                        <a class="nav-link | navs__vertical" 
                            id="v-pills-p2-tab" 
                            data-toggle="pill" 
                            href="#v-pills-p2" 
                            role="tab" 
                            aria-controls="v-pills-p2" 
                            aria-selected="false">
                            How it Spreads
                            <i class="bi bi-caret-right-fill | icon__caret-r"></i>
                        </a>
                        
                        <a class="nav-link | navs__vertical" 
                            id="v-pills-p3-tab" 
                            data-toggle="pill" 
                            href="#v-pills-p3" 
                            role="tab" 
                            aria-controls="v-pills-p3" 
                            aria-selected="false">
                            How to Protect Yourself
                            <i class="bi bi-caret-right-fill | icon__caret-r"></i>
                        </a>
                        
                        <a class="nav-link | navs__vertical" 
                            id="v-pills-p4-tab" 
                            data-toggle="pill" 
                            href="#v-pills-p4" 
                            role="tab" 
                            aria-controls="v-pills-p4" 
                            aria-selected="false">
                            Symptoms & Testing
                            <i class="bi bi-caret-right-fill | icon__caret-r"></i>
                        </a>
                        
                        <a class="nav-link | navs__vertical" 
                            id="v-pills-p5-tab" 
                            data-toggle="pill" 
                            href="#v-pills-p5" 
                            role="tab" 
                            aria-controls="v-pills-p5" 
                            aria-selected="false">
                            Community
                            <i class="bi bi-caret-right-fill | icon__caret-r"></i>
                        </a>

                      </div>
                    </div>

                    <div class="accordion__content">
                      <div class="tab-content" id="v-pills-tabContent">

                        <div class="tab-pane fade show active" 
                            id="v-pills-p1" 
                            role="tabpanel" 
                            aria-labelledby="v-pills-p1-tab">

                            <div class="accordion" id="accordionContent">
                                <div class="card card__accordion">
                                  <div 
                                    class="card-header" 
                                    id="headingOne">
                                    <h2 class="mb-0">
                                      <button 
                                        class="btn btn-link btn-block text-left | btn__title top" 
                                        type="button" 
                                        data-toggle="collapse" 
                                        data-target="#collapseOne" 
                                        aria-expanded="true" 
                                        aria-controls="collapseOne">
                                            What is a novel coronavirus?
                                        <i class="bi bi-dash-circle | icon__dash"></i>
                                        <i class="bi bi-plus-circle | icon__plus"></i>
                                      </button>
                                    </h2>
                                  </div>
                              
                                  <div 
                                    id="collapseOne" 
                                    class="collapse show" 
                                    aria-labelledby="headingOne" 
                                    data-parent="#accordionContent">
                                    <div class="card-body | card__content">
                                        On February 11, 2020 the World Health Organization 
                                        announced an official name for the disease that is 
                                        causing the 2019 novel coronavirus outbreak.
                                    </div>
                                  </div>
                                </div>

                                <div class="card card__accordion">
                                  <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                      <button 
                                        class="btn btn-link btn-block text-left collapsed | btn__title" 
                                        type="button" 
                                        data-toggle="collapse" 
                                        data-target="#collapseTwo" 
                                        aria-expanded="false" 
                                        aria-controls="collapseTwo">
                                            What kind of wax do you use & how long does it last?
                                        <i class="bi bi-dash-circle | icon__dash"></i>
                                        <i class="bi bi-plus-circle | icon__plus"></i>
                                      </button>
                                    </h2>
                                  </div>
                                  <div 
                                    id="collapseTwo" 
                                    class="collapse" 
                                    aria-labelledby="headingTwo" 
                                    data-parent="#accordionContent">
                                    <div class="card-body | card__content">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                        Sit doloribus laboriosam fugiat est rerum veniam earum, 
                                        animi esse repudiandae omnis placeat. Quam explicabo 
                                        quaerat 
                                    </div>
                                  </div>
                                </div>
                                
                                <div class="card card__accordion">
                                  <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                      <button 
                                        class="btn btn-link btn-block text-left collapsed | btn__title" 
                                        type="button" 
                                        data-toggle="collapse" 
                                        data-target="#collapseThree" 
                                        aria-expanded="false" 
                                        aria-controls="collapseThree">
                                            What kind of resources do you need from me?
                                        <i class="bi bi-dash-circle | icon__dash"></i>
                                        <i class="bi bi-plus-circle | icon__plus"></i>
                                      </button>
                                    </h2>
                                  </div>
                                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionContent">
                                    <div class="card-body | card__content">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                        Sit doloribus laboriosam fugiat est rerum veniam earum, 
                                        animi esse repudiandae omnis placeat. Quam explicabo 
                                        quaerat 
                                    </div>
                                  </div>
                                </div>

                                <div class="card card__accordion">
                                    <div class="card-header" id="headingFour">
                                      <h2 class="mb-0">
                                        <button 
                                          class="btn btn-link btn-block text-left collapsed | btn__title" 
                                          type="button" 
                                          data-toggle="collapse" 
                                          data-target="#collapsefour" 
                                          aria-expanded="false" 
                                          aria-controls="collapsefour">
                                            Does applying wax remove scratches & swirl mark's?
                                          <i class="bi bi-dash-circle | icon__dash"></i>
                                          <i class="bi bi-plus-circle | icon__plus"></i>
                                        </button>
                                      </h2>
                                    </div>
                                    <div id="collapsefour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionContent">
                                      <div class="card-body | card__content">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                        Sit doloribus laboriosam fugiat est rerum veniam earum, 
                                        animi esse repudiandae omnis placeat. Quam explicabo 
                                        quaerat 
                                      </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        
                        <div class="tab-pane fade" 
                            id="v-pills-p2" 
                            role="tabpanel" 
                            aria-labelledby="v-pills-p2-tab">
                            
                            <div class="accordion" id="accordionContent">
                                <div class="card card__accordion">
                                  <div 
                                    class="card-header" 
                                    id="headingOne">
                                    <h2 class="mb-0">
                                      <button 
                                        class="btn btn-link btn-block text-left | btn__title top" 
                                        type="button" 
                                        data-toggle="collapse" 
                                        data-target="#collapseOne" 
                                        aria-expanded="true" 
                                        aria-controls="collapseOne">
                                            What is a novel coronavirus?
                                        <i class="bi bi-dash-circle | icon__dash"></i>
                                        <i class="bi bi-plus-circle | icon__plus"></i>
                                      </button>
                                    </h2>
                                  </div>
                              
                                  <div 
                                    id="collapseOne" 
                                    class="collapse show" 
                                    aria-labelledby="headingOne" 
                                    data-parent="#accordionContent">
                                    <div class="card-body | card__content">
                                        On February 11, 2020 the World Health Organization 
                                        announced an official name for the disease that is 
                                        causing the 2019 novel coronavirus outbreak.
                                    </div>
                                  </div>
                                </div>

                                <div class="card card__accordion">
                                  <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                      <button 
                                        class="btn btn-link btn-block text-left collapsed | btn__title" 
                                        type="button" 
                                        data-toggle="collapse" 
                                        data-target="#collapseTwo" 
                                        aria-expanded="false" 
                                        aria-controls="collapseTwo">
                                            What kind of wax do you use & how long does it last?
                                        <i class="bi bi-dash-circle | icon__dash"></i>
                                        <i class="bi bi-plus-circle | icon__plus"></i>
                                      </button>
                                    </h2>
                                  </div>
                                  <div 
                                    id="collapseTwo" 
                                    class="collapse" 
                                    aria-labelledby="headingTwo" 
                                    data-parent="#accordionContent">
                                    <div class="card-body | card__content">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                        Sit doloribus laboriosam fugiat est rerum veniam earum, 
                                        animi esse repudiandae omnis placeat. Quam explicabo 
                                        quaerat 
                                    </div>
                                  </div>
                                </div>
                                
                                <div class="card card__accordion">
                                  <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                      <button 
                                        class="btn btn-link btn-block text-left collapsed | btn__title" 
                                        type="button" 
                                        data-toggle="collapse" 
                                        data-target="#collapseThree" 
                                        aria-expanded="false" 
                                        aria-controls="collapseThree">
                                            What kind of resources do you need from me?
                                        <i class="bi bi-dash-circle | icon__dash"></i>
                                        <i class="bi bi-plus-circle | icon__plus"></i>
                                      </button>
                                    </h2>
                                  </div>
                                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionContent">
                                    <div class="card-body | card__content">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                        Sit doloribus laboriosam fugiat est rerum veniam earum, 
                                        animi esse repudiandae omnis placeat. Quam explicabo 
                                        quaerat 
                                    </div>
                                  </div>
                                </div>

                                <div class="card card__accordion">
                                    <div class="card-header" id="headingFour">
                                      <h2 class="mb-0">
                                        <button 
                                          class="btn btn-link btn-block text-left collapsed | btn__title" 
                                          type="button" 
                                          data-toggle="collapse" 
                                          data-target="#collapsefour" 
                                          aria-expanded="false" 
                                          aria-controls="collapsefour">
                                            Does applying wax remove scratches & swirl mark's?
                                          <i class="bi bi-dash-circle | icon__dash"></i>
                                          <i class="bi bi-plus-circle | icon__plus"></i>
                                        </button>
                                      </h2>
                                    </div>
                                    <div id="collapsefour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionContent">
                                      <div class="card-body | card__content">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                        Sit doloribus laboriosam fugiat est rerum veniam earum, 
                                        animi esse repudiandae omnis placeat. Quam explicabo 
                                        quaerat 
                                      </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                        <div class="tab-pane fade" 
                            id="v-pills-p3" 
                            role="tabpanel" 
                            aria-labelledby="v-pills-p3-tab">
                            
                            <div class="accordion" id="accordionContent">
                                <div class="card card__accordion">
                                  <div 
                                    class="card-header" 
                                    id="headingOne">
                                    <h2 class="mb-0">
                                      <button 
                                        class="btn btn-link btn-block text-left | btn__title top" 
                                        type="button" 
                                        data-toggle="collapse" 
                                        data-target="#collapseOne" 
                                        aria-expanded="true" 
                                        aria-controls="collapseOne">
                                            What is a novel coronavirus?
                                        <i class="bi bi-dash-circle | icon__dash"></i>
                                        <i class="bi bi-plus-circle | icon__plus"></i>
                                      </button>
                                    </h2>
                                  </div>
                              
                                  <div 
                                    id="collapseOne" 
                                    class="collapse show" 
                                    aria-labelledby="headingOne" 
                                    data-parent="#accordionContent">
                                    <div class="card-body | card__content">
                                        On February 11, 2020 the World Health Organization 
                                        announced an official name for the disease that is 
                                        causing the 2019 novel coronavirus outbreak.
                                    </div>
                                  </div>
                                </div>

                                <div class="card card__accordion">
                                  <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                      <button 
                                        class="btn btn-link btn-block text-left collapsed | btn__title" 
                                        type="button" 
                                        data-toggle="collapse" 
                                        data-target="#collapseTwo" 
                                        aria-expanded="false" 
                                        aria-controls="collapseTwo">
                                            What kind of wax do you use & how long does it last?
                                        <i class="bi bi-dash-circle | icon__dash"></i>
                                        <i class="bi bi-plus-circle | icon__plus"></i>
                                      </button>
                                    </h2>
                                  </div>
                                  <div 
                                    id="collapseTwo" 
                                    class="collapse" 
                                    aria-labelledby="headingTwo" 
                                    data-parent="#accordionContent">
                                    <div class="card-body | card__content">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                        Sit doloribus laboriosam fugiat est rerum veniam earum, 
                                        animi esse repudiandae omnis placeat. Quam explicabo 
                                        quaerat 
                                    </div>
                                  </div>
                                </div>
                                
                                <div class="card card__accordion">
                                  <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                      <button 
                                        class="btn btn-link btn-block text-left collapsed | btn__title" 
                                        type="button" 
                                        data-toggle="collapse" 
                                        data-target="#collapseThree" 
                                        aria-expanded="false" 
                                        aria-controls="collapseThree">
                                            What kind of resources do you need from me?
                                        <i class="bi bi-dash-circle | icon__dash"></i>
                                        <i class="bi bi-plus-circle | icon__plus"></i>
                                      </button>
                                    </h2>
                                  </div>
                                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionContent">
                                    <div class="card-body | card__content">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                        Sit doloribus laboriosam fugiat est rerum veniam earum, 
                                        animi esse repudiandae omnis placeat. Quam explicabo 
                                        quaerat 
                                    </div>
                                  </div>
                                </div>

                                <div class="card card__accordion">
                                    <div class="card-header" id="headingFour">
                                      <h2 class="mb-0">
                                        <button 
                                          class="btn btn-link btn-block text-left collapsed | btn__title" 
                                          type="button" 
                                          data-toggle="collapse" 
                                          data-target="#collapsefour" 
                                          aria-expanded="false" 
                                          aria-controls="collapsefour">
                                            Does applying wax remove scratches & swirl mark's?
                                          <i class="bi bi-dash-circle | icon__dash"></i>
                                          <i class="bi bi-plus-circle | icon__plus"></i>
                                        </button>
                                      </h2>
                                    </div>
                                    <div id="collapsefour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionContent">
                                      <div class="card-body | card__content">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                        Sit doloribus laboriosam fugiat est rerum veniam earum, 
                                        animi esse repudiandae omnis placeat. Quam explicabo 
                                        quaerat 
                                      </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                        <div class="tab-pane fade" 
                            id="v-pills-p3" 
                            role="tabpanel" 
                            aria-labelledby="v-pills-p3-tab">

                            <div class="accordion" id="accordionContent">
                                <div class="card card__accordion">
                                  <div 
                                    class="card-header" 
                                    id="headingOne">
                                    <h2 class="mb-0">
                                      <button 
                                        class="btn btn-link btn-block text-left | btn__title top" 
                                        type="button" 
                                        data-toggle="collapse" 
                                        data-target="#collapseOne" 
                                        aria-expanded="true" 
                                        aria-controls="collapseOne">
                                            What is a novel coronavirus?
                                        <i class="bi bi-dash-circle | icon__dash"></i>
                                        <i class="bi bi-plus-circle | icon__plus"></i>
                                      </button>
                                    </h2>
                                  </div>
                              
                                  <div 
                                    id="collapseOne" 
                                    class="collapse show" 
                                    aria-labelledby="headingOne" 
                                    data-parent="#accordionContent">
                                    <div class="card-body | card__content">
                                        On February 11, 2020 the World Health Organization 
                                        announced an official name for the disease that is 
                                        causing the 2019 novel coronavirus outbreak.
                                    </div>
                                  </div>
                                </div>

                                <div class="card card__accordion">
                                  <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                      <button 
                                        class="btn btn-link btn-block text-left collapsed | btn__title" 
                                        type="button" 
                                        data-toggle="collapse" 
                                        data-target="#collapseTwo" 
                                        aria-expanded="false" 
                                        aria-controls="collapseTwo">
                                            What kind of wax do you use & how long does it last?
                                        <i class="bi bi-dash-circle | icon__dash"></i>
                                        <i class="bi bi-plus-circle | icon__plus"></i>
                                      </button>
                                    </h2>
                                  </div>
                                  <div 
                                    id="collapseTwo" 
                                    class="collapse" 
                                    aria-labelledby="headingTwo" 
                                    data-parent="#accordionContent">
                                    <div class="card-body | card__content">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                        Sit doloribus laboriosam fugiat est rerum veniam earum, 
                                        animi esse repudiandae omnis placeat. Quam explicabo 
                                        quaerat 
                                    </div>
                                  </div>
                                </div>
                                
                                <div class="card card__accordion">
                                  <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                      <button 
                                        class="btn btn-link btn-block text-left collapsed | btn__title" 
                                        type="button" 
                                        data-toggle="collapse" 
                                        data-target="#collapseThree" 
                                        aria-expanded="false" 
                                        aria-controls="collapseThree">
                                            What kind of resources do you need from me?
                                        <i class="bi bi-dash-circle | icon__dash"></i>
                                        <i class="bi bi-plus-circle | icon__plus"></i>
                                      </button>
                                    </h2>
                                  </div>
                                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionContent">
                                    <div class="card-body | card__content">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                        Sit doloribus laboriosam fugiat est rerum veniam earum, 
                                        animi esse repudiandae omnis placeat. Quam explicabo 
                                        quaerat 
                                    </div>
                                  </div>
                                </div>

                                <div class="card card__accordion">
                                    <div class="card-header" id="headingFour">
                                      <h2 class="mb-0">
                                        <button 
                                          class="btn btn-link btn-block text-left collapsed | btn__title" 
                                          type="button" 
                                          data-toggle="collapse" 
                                          data-target="#collapsefour" 
                                          aria-expanded="false" 
                                          aria-controls="collapsefour">
                                            Does applying wax remove scratches & swirl mark's?
                                          <i class="bi bi-dash-circle | icon__dash"></i>
                                          <i class="bi bi-plus-circle | icon__plus"></i>
                                        </button>
                                      </h2>
                                    </div>
                                    <div id="collapsefour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionContent">
                                      <div class="card-body | card__content">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                        Sit doloribus laboriosam fugiat est rerum veniam earum, 
                                        animi esse repudiandae omnis placeat. Quam explicabo 
                                        quaerat 
                                      </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                        <div class="tab-pane fade" 
                            id="v-pills-p4" 
                            role="tabpanel" 
                            aria-labelledby="v-pills-p4-tab">
                            
                            <div class="accordion" id="accordionContent">
                                <div class="card card__accordion">
                                  <div 
                                    class="card-header" 
                                    id="headingOne">
                                    <h2 class="mb-0">
                                      <button 
                                        class="btn btn-link btn-block text-left | btn__title top" 
                                        type="button" 
                                        data-toggle="collapse" 
                                        data-target="#collapseOne" 
                                        aria-expanded="true" 
                                        aria-controls="collapseOne">
                                            What is a novel coronavirus?
                                        <i class="bi bi-dash-circle | icon__dash"></i>
                                        <i class="bi bi-plus-circle | icon__plus"></i>
                                      </button>
                                    </h2>
                                  </div>
                              
                                  <div 
                                    id="collapseOne" 
                                    class="collapse show" 
                                    aria-labelledby="headingOne" 
                                    data-parent="#accordionContent">
                                    <div class="card-body | card__content">
                                        On February 11, 2020 the World Health Organization 
                                        announced an official name for the disease that is 
                                        causing the 2019 novel coronavirus outbreak.
                                    </div>
                                  </div>
                                </div>

                                <div class="card card__accordion">
                                  <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                      <button 
                                        class="btn btn-link btn-block text-left collapsed | btn__title" 
                                        type="button" 
                                        data-toggle="collapse" 
                                        data-target="#collapseTwo" 
                                        aria-expanded="false" 
                                        aria-controls="collapseTwo">
                                            What kind of wax do you use & how long does it last?
                                        <i class="bi bi-dash-circle | icon__dash"></i>
                                        <i class="bi bi-plus-circle | icon__plus"></i>
                                      </button>
                                    </h2>
                                  </div>
                                  <div 
                                    id="collapseTwo" 
                                    class="collapse" 
                                    aria-labelledby="headingTwo" 
                                    data-parent="#accordionContent">
                                    <div class="card-body | card__content">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                        Sit doloribus laboriosam fugiat est rerum veniam earum, 
                                        animi esse repudiandae omnis placeat. Quam explicabo 
                                        quaerat 
                                    </div>
                                  </div>
                                </div>
                                
                                <div class="card card__accordion">
                                  <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                      <button 
                                        class="btn btn-link btn-block text-left collapsed | btn__title" 
                                        type="button" 
                                        data-toggle="collapse" 
                                        data-target="#collapseThree" 
                                        aria-expanded="false" 
                                        aria-controls="collapseThree">
                                            What kind of resources do you need from me?
                                        <i class="bi bi-dash-circle | icon__dash"></i>
                                        <i class="bi bi-plus-circle | icon__plus"></i>
                                      </button>
                                    </h2>
                                  </div>
                                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionContent">
                                    <div class="card-body | card__content">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                        Sit doloribus laboriosam fugiat est rerum veniam earum, 
                                        animi esse repudiandae omnis placeat. Quam explicabo 
                                        quaerat 
                                    </div>
                                  </div>
                                </div>

                                <div class="card card__accordion">
                                    <div class="card-header" id="headingFour">
                                      <h2 class="mb-0">
                                        <button 
                                          class="btn btn-link btn-block text-left collapsed | btn__title" 
                                          type="button" 
                                          data-toggle="collapse" 
                                          data-target="#collapsefour" 
                                          aria-expanded="false" 
                                          aria-controls="collapsefour">
                                            Does applying wax remove scratches & swirl mark's?
                                          <i class="bi bi-dash-circle | icon__dash"></i>
                                          <i class="bi bi-plus-circle | icon__plus"></i>
                                        </button>
                                      </h2>
                                    </div>
                                    <div id="collapsefour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionContent">
                                      <div class="card-body | card__content">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                        Sit doloribus laboriosam fugiat est rerum veniam earum, 
                                        animi esse repudiandae omnis placeat. Quam explicabo 
                                        quaerat 
                                      </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                        <div class="tab-pane fade" 
                            id="v-pills-p5" 
                            role="tabpanel" 
                            aria-labelledby="v-pills-p5-tab">

                            <div class="accordion" id="accordionContent">
                                <div class="card card__accordion">
                                  <div 
                                    class="card-header" 
                                    id="headingOne">
                                    <h2 class="mb-0">
                                      <button 
                                        class="btn btn-link btn-block text-left | btn__title top" 
                                        type="button" 
                                        data-toggle="collapse" 
                                        data-target="#collapseOne" 
                                        aria-expanded="true" 
                                        aria-controls="collapseOne">
                                            What is a novel coronavirus?
                                        <i class="bi bi-dash-circle | icon__dash"></i>
                                        <i class="bi bi-plus-circle | icon__plus"></i>
                                      </button>
                                    </h2>
                                  </div>
                              
                                  <div 
                                    id="collapseOne" 
                                    class="collapse show" 
                                    aria-labelledby="headingOne" 
                                    data-parent="#accordionContent">
                                    <div class="card-body | card__content">
                                        On February 11, 2020 the World Health Organization 
                                        announced an official name for the disease that is 
                                        causing the 2019 novel coronavirus outbreak.
                                    </div>
                                  </div>
                                </div>

                                <div class="card card__accordion">
                                  <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                      <button 
                                        class="btn btn-link btn-block text-left collapsed | btn__title" 
                                        type="button" 
                                        data-toggle="collapse" 
                                        data-target="#collapseTwo" 
                                        aria-expanded="false" 
                                        aria-controls="collapseTwo">
                                            What kind of wax do you use & how long does it last?
                                        <i class="bi bi-dash-circle | icon__dash"></i>
                                        <i class="bi bi-plus-circle | icon__plus"></i>
                                      </button>
                                    </h2>
                                  </div>
                                  <div 
                                    id="collapseTwo" 
                                    class="collapse" 
                                    aria-labelledby="headingTwo" 
                                    data-parent="#accordionContent">
                                    <div class="card-body | card__content">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                        Sit doloribus laboriosam fugiat est rerum veniam earum, 
                                        animi esse repudiandae omnis placeat. Quam explicabo 
                                        quaerat 
                                    </div>
                                  </div>
                                </div>
                                
                                <div class="card card__accordion">
                                  <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                      <button 
                                        class="btn btn-link btn-block text-left collapsed | btn__title" 
                                        type="button" 
                                        data-toggle="collapse" 
                                        data-target="#collapseThree" 
                                        aria-expanded="false" 
                                        aria-controls="collapseThree">
                                            What kind of resources do you need from me?
                                        <i class="bi bi-dash-circle | icon__dash"></i>
                                        <i class="bi bi-plus-circle | icon__plus"></i>
                                      </button>
                                    </h2>
                                  </div>
                                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionContent">
                                    <div class="card-body | card__content">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                        Sit doloribus laboriosam fugiat est rerum veniam earum, 
                                        animi esse repudiandae omnis placeat. Quam explicabo 
                                        quaerat 
                                    </div>
                                  </div>
                                </div>

                                <div class="card card__accordion">
                                    <div class="card-header" id="headingFour">
                                      <h2 class="mb-0">
                                        <button 
                                          class="btn btn-link btn-block text-left collapsed | btn__title" 
                                          type="button" 
                                          data-toggle="collapse" 
                                          data-target="#collapsefour" 
                                          aria-expanded="false" 
                                          aria-controls="collapsefour">
                                            Does applying wax remove scratches & swirl mark's?
                                          <i class="bi bi-dash-circle | icon__dash"></i>
                                          <i class="bi bi-plus-circle | icon__plus"></i>
                                        </button>
                                      </h2>
                                    </div>
                                    <div id="collapsefour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionContent">
                                      <div class="card-body | card__content">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                        Sit doloribus laboriosam fugiat est rerum veniam earum, 
                                        animi esse repudiandae omnis placeat. Quam explicabo 
                                        quaerat 
                                      </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                      </div>
                    </div>
                </div>

            </div>
        </section>

    </div>
</div>