<div class="fqa">
    <div class="container-fluid | fqa__container">
        
        <section class="faq__info">
            <h3 class="typo__title">
                FAQ
            </h3>

            <div class="faq__content">
                
                <div class="faq__accordion">
                    <div class="accordion__selection">
                      <div 
                        class="nav nav-pills" 
                        id="v-pills-tab" 
                        role="tablist" 
                        aria-orientation="vertical">

                        <a class="nav-link active | navs__vertical" 
                            id="v-pills-p1-tab" 
                            data-toggle="pill" 
                            href="#v-pills-p1" 
                            role="tab" 
                            aria-controls="v-pills-p1" 
                            aria-selected="true">
                            COVID-19
                            <i class="bi bi-caret-right-fill | icon__caret-r"></i>
                        </a>
                        
                        <a class="nav-link | navs__vertical" 
                            id="v-pills-p2-tab" 
                            data-toggle="pill" 
                            href="#v-pills-p2" 
                            role="tab" 
                            aria-controls="v-pills-p2" 
                            aria-selected="false">
                            How it Spreads
                            <i class="bi bi-caret-right-fill | icon__caret-r"></i>
                        </a>
                        
                        <a class="nav-link | navs__vertical" 
                            id="v-pills-p3-tab" 
                            data-toggle="pill" 
                            href="#v-pills-p3" 
                            role="tab" 
                            aria-controls="v-pills-p3" 
                            aria-selected="false">
                            How to Protect Yourself
                            <i class="bi bi-caret-right-fill | icon__caret-r"></i>
                        </a>
                        
                        <a class="nav-link | navs__vertical" 
                            id="v-pills-p4-tab" 
                            data-toggle="pill" 
                            href="#v-pills-p4" 
                            role="tab" 
                            aria-controls="v-pills-p4" 
                            aria-selected="false">
                            Symptoms & Testing
                            <i class="bi bi-caret-right-fill | icon__caret-r"></i>
                        </a>
                        
                        <a class="nav-link | navs__vertical" 
                            id="v-pills-p5-tab" 
                            data-toggle="pill" 
                            href="#v-pills-p5" 
                            role="tab" 
                            aria-controls="v-pills-p5" 
                            aria-selected="false">
                            Seasonal Allergies
                            <i class="bi bi-caret-right-fill | icon__caret-r"></i>
                        </a>

                      </div>
                    </div>

                    <div class="accordion__content">
                      <div class="tab-content" id="v-pills-tabContent">

                        <div class="tab-pane fade show active" 
                            id="v-pills-p1" 
                            role="tabpanel" 
                            aria-labelledby="v-pills-p1-tab">

                            <div class="accordion" id="accordionContent">
                                <div class="card card__accordion">
                                  <div 
                                    class="card-header" 
                                    id="headingOne">
                                    <h2 class="mb-0">
                                      <button 
                                        class="btn btn-link btn-block text-left | btn__title top" 
                                        type="button" 
                                        data-toggle="collapse" 
                                        data-target="#collapseOne" 
                                        aria-expanded="true" 
                                        aria-controls="collapseOne">
                                            What is COVID-19?
                                        <i class="bi bi-dash-circle | icon__dash"></i>
                                        <i class="bi bi-plus-circle | icon__plus"></i>
                                      </button>
                                    </h2>
                                  </div>
                              
                                  <div 
                                    id="collapseOne" 
                                    class="collapse show" 
                                    aria-labelledby="headingOne" 
                                    data-parent="#accordionContent">
                                    <div class="card-body | card__content">
                                      COVID-19 is a disease caused by a virus called SARS-CoV-2. Most people with COVID-19 have mild symptoms, 
                                      but some people can become severely ill. Although most people with COVID-19 get better within weeks of 
                                      illness, some people experience post-COVID conditions. Post-COVID conditions are a wide range of new,
                                      returning, or ongoing health problems people can experience more than four weeks after first being 
                                      infected with the virus that causes COVID-19. Older people and those who have certain underlying 
                                      medical conditions are more likely to get severely ill from COVID-19. Vaccines against COVID-19 
                                      are safe and effective.
                                    </div>
                                  </div>
                                </div>

                                <div class="card card__accordion">
                                  <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                      <button 
                                        class="btn btn-link btn-block text-left collapsed | btn__title" 
                                        type="button" 
                                        data-toggle="collapse" 
                                        data-target="#collapseTwo" 
                                        aria-expanded="false" 
                                        aria-controls="collapseTwo">
                                          Why is the disease being called coronavirus disease 2019, COVID-19?
                                        <i class="bi bi-dash-circle | icon__dash"></i>
                                        <i class="bi bi-plus-circle | icon__plus"></i>
                                      </button>
                                    </h2>
                                  </div>
                                  <div 
                                    id="collapseTwo" 
                                    class="collapse" 
                                    aria-labelledby="headingTwo" 
                                    data-parent="#accordionContent">
                                    <div class="card-body | card__content">
                                      On February 11, 2020 the World Health Organization announced an official name for the disease that is causing the 2019 novel coronavirus pandemic, first identified in Wuhan China. The new name of this disease is coronavirus disease 2019, abbreviated as COVID-19. In COVID-19, “CO” stands for corona, “VI” for virus, and ”D” for disease. Formerly, this disease was referred to as “2019 novel coronavirus” or “2019-nCoV.”
                                    </div>
                                  </div>
                                </div>
                                
                                <div class="card card__accordion">
                                  <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                      <button 
                                        class="btn btn-link btn-block text-left collapsed | btn__title" 
                                        type="button" 
                                        data-toggle="collapse" 
                                        data-target="#collapseThree" 
                                        aria-expanded="false" 
                                        aria-controls="collapseThree">
                                          What is the risk of my child becoming sick with COVID-19?
                                        <i class="bi bi-dash-circle | icon__dash"></i>
                                        <i class="bi bi-plus-circle | icon__plus"></i>
                                      </button>
                                    </h2>
                                  </div>
                                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionContent">
                                    <div class="card-body | card__content">
                                        
                                      <p>
                                        Children can be infected with the virus that causes COVID-19 and can get sick with COVID-19. 
                                        Most children with COVID-19 have mild symptoms or they may have no symptoms at all (“asymptomatic”). 
                                        Fewer children have been sick with COVID-19 compared to adults. Babies younger than 1 and children 
                                        with <a href="/coronavirus/2019-ncov/need-extra-precautions/people-with-medical-conditions.html#ChildrenAndTeens">certain underlying medical conditions</a> may be more likely to have serious illness from COVID-19. Some children have developed a rare but serious disease that is linked to COVID-19 called <a href="/coronavirus/2019-ncov/daily-life-coping/children/mis-c.html">
                                        multisystem inflammatory syndrome (MIS-C)</a>.
                                      </p>

                                      <p>For more information for parents or caregivers of children, see <a href="/coronavirus/2019-ncov/daily-life-coping/caring-for-children.html">Children and Teens</a> and the <a href="/coronavirus/2019-ncov/daily-life-coping/parental-resource-kit/childhood.html">COVID-19 Parental Resources Kit</a>.</p>
                                        
                                      <p>For more information about how people get sick with the virus that causes COVID-19, see <a href="/coronavirus/2019-ncov/prevent-getting-sick/how-covid-spreads.html">How COVID-19 Spreads</a>.</p>

                                    </div>
                                  </div>
                                </div>

                                <div class="card card__accordion">
                                    <div class="card-header" id="headingFour">
                                      <h2 class="mb-0">
                                        <button 
                                          class="btn btn-link btn-block text-left collapsed | btn__title" 
                                          type="button" 
                                          data-toggle="collapse" 
                                          data-target="#collapsefour" 
                                          aria-expanded="false" 
                                          aria-controls="collapsefour">
                                            Is at-home specimen collection or testing available?
                                          <i class="bi bi-dash-circle | icon__dash"></i>
                                          <i class="bi bi-plus-circle | icon__plus"></i>
                                        </button>
                                      </h2>
                                    </div>
                                    <div id="collapsefour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionContent">
                                      <div class="card-body | card__content">
                                        <p>Yes. At-home testing and collection allow you to collect a specimen at home and either send it to a testing facility or preform the test at home.</p>

                                        <p>You and your healthcare provider might consider either an at-home collection kit or an at-home test if you have signs and symptoms of COVID-19 or if you can’t get testing at a local healthcare facility.</p>

                                        <p>For more information, see <a href="https://www.cdc.gov/coronavirus/2019-ncov/testing/at-home-testing.html">At-Home Testing</a>.</p>
                                      </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        
                        <div class="tab-pane fade" 
                            id="v-pills-p2" 
                            role="tabpanel" 
                            aria-labelledby="v-pills-p2-tab">
                            <p>COVID-19 is thought to spread mainly through close contact from person to person, including between people who are physically near each other (within about 6 feet). People who are infected but do not show symptoms can also spread the virus to others. <a href="https://www.cdc.gov/coronavirus/2019-ncov/your-health/reinfection.html#/">Cases of reinfection with COVID-19 &nbsp;have been reported but are rare</a>. We are still learning about how the virus spreads and the severity of illness it causes.</p>
                            <p>COVID-19 spreads very easily from person to person. How easily a virus spreads from person to person can vary. The virus that causes COVID-19 appears to spread more efficiently than influenza but not as efficiently as measles, which is among the most contagious viruses known to affect people.</p>
                            <p>For more information about how COVID-19 spreads, visit the <a href="/coronavirus/2019-ncov/prevent-getting-sick/how-covid-spreads.html">How COVID-19 Spreads</a>&nbsp;page to learn how COVID-19 spreads and how to protect yourself.<strong>&nbsp;</strong></p>
                        </div>
                        
                        <div class="tab-pane fade" 
                            id="v-pills-p3" 
                            role="tabpanel" 
                            aria-labelledby="v-pills-p3-tab">
                            
                            <p>Yes. CDC recommends that people wear masks in public settings, at events and gatherings, and anywhere they will be around other people. When you wear a mask, you protect others as well as yourself. <a href="https://www.cdc.gov/coronavirus/2019-ncov/more/masking-science-sars-cov2.html">Masks work best when everyone wears one</a>. A mask is NOT a substitute for <a href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/social-distancing.html">social distancing</a>. Masks should still be worn in addition to staying at least 6 feet apart, especially when indoors around people who don’t live in your household.</p>
                            <p>Effective February 2, 2021, <strong><a href="/coronavirus/2019-ncov/travelers/face-masks-public-transportation.html">masks are required</a></strong>&nbsp;on planes, buses, trains, and other forms of public transportation traveling into, within, or out of the United States and in U.S. transportation hubs such as airports and stations.</p>
                            <p>While masks are strongly encouraged to reduce the spread of COVID-19, CDC recognizes there are specific instances when wearing a mask may not be feasible. In these instances, <a href="https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/cloth-face-cover-guidance.html#mask-adaptations-alternatives">adaptations and alternatives</a>&nbsp;should be considered whenever possible.</p>
                            
                        </div>
                        
                        <div class="tab-pane fade" 
                            id="v-pills-p4" 
                            role="tabpanel" 
                            aria-labelledby="v-pills-p4-tab">
                            <p>
                              People with COVID-19 have reported a wide range of symptoms – from mild symptoms to severe illness. Symptoms may appear 2-14 days after exposure to the virus. If you have fever, cough, or other symptoms, you might have COVID-19.
                            </p>

                            <p>
                              Is it possible to have the flu and COVID-19 at the same time?
                            </p>

                            <p>
                              Yes. It is possible to test positive for flu (as well as other respiratory infections) and COVID-19 at the same time. Because some of the symptoms of flu and COVID-19 are similar, it may be hard to tell the difference between them based on symptoms alone. Testing may be needed to help confirm a diagnosis.
                            </p>
                            <p>
                              The best way to prevent seasonal flu is to get vaccinated every year. Flu vaccines will not prevent COVID-19, but they will reduce your chances of getting flu. See Prevent Seasonal Flu for more information.
                            </p>
                        </div>
                        
                        <div class="tab-pane fade" 
                            id="v-pills-p5" 
                            role="tabpanel" 
                            aria-labelledby="v-pills-p5-tab">

                            <p>
                              Does having seasonal allergies increase my risk of contracting COVID-19 or having more severe symptoms if I do contract COVID-19?
                            </p>

                            <p>There is not enough scientific information at this time to know whether having seasonal allergies puts you at higher risk of contracting COVID-19 or having more severe symptoms if you do contract COVID-19. We do know that older adults and people who have severe underlying medical conditions like obesity, diabetes, or heart or lung disease are at higher risk for developing more serious complications when they have COVID-19. Get more information on people at <a href="https://www.cdc.gov/coronavirus/2019-ncov/need-extra-precautions/index.html">high risk for severe COVID-19</a>.</p>

                        </div>

                      </div>
                    </div>
                </div>

            </div>
        </section>

    </div>
</div>