<div class="footer">
    <div class="container-fluid | footer__container">
        
        <section class="footer__content">
            <div class="footer__column">
                <div class="img__container">
                    <img 
                        class="logo-image" 
                        src="../../../assets/image/nav-logo.svg" 
                        alt="navLogo">
                    Covid-19
                </div>
                <p class="parag">
                    Angular project designed by 
                    designmamba and implemented by aaronch.
                </p>
            </div>

            <div class="footer__column">
                <h4 class="title">
                    Useful Links
                </h4>
                <ul class="list__container">
                    <li class="list__item list__item--active" >Why</li>
                    <li class="list__item" >About</li>
                    <li class="list__item" >Carrers</li>
                    <li class="list__item" >Blog</li>
                    <li class="list__item" >Contract</li>
                </ul>
            </div>

            <div class="footer__column">
                <h4 class="title">
                    Contact us
                </h4>
                <ul class="list__container">
                    <li class="list__item">Tel: +00 000 000 000</li>
                    <li class="list__item">lorem@aaronch.com</li>
                </ul>

                <h4 class="title">
                    Location
                </h4>
                <ul class="list__container">
                    <li class="list__item">Barcelona - Venezuela</li>
                </ul>
            </div>

            <div class="footer__column">
                <h4 class="title">
                    Keep in Touch
                </h4>

                <div class="rrss">
                    <img class="img" src="../../../assets/image/rrss/facebook.svg" alt="rrss-facebook">
                    <img class="img" src="../../../assets/image/rrss/youtube.svg" alt="rrss-youtube">
                    <img class="img" src="../../../assets/image/rrss/instagram.svg" alt="rrss-instagram">
                </div>
            </div>

        </section>
        
    </div>
    <div class="footer__sign">
        <h4 class="title">
            © Aaronch, All Rights Reserved
        </h4>
    </div>
</div>