/* Section
   ========================================================================== */

.section__status{
    width: 100%;
    position: relative;
}

.section__data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 2rem;
    //margin-bottom: 4.875rem;
    margin-bottom: 0.313rem;
    @include m-large{
        flex-direction: column-reverse;
    }
}

/* components
   ========================================================================== */

   .hr {
       border-color: $elements; 
   }



/* placeholder
   ========================================================================== */


%truncate{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Mixin
   ========================================================================== */

@mixin flexbox-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}