/* Section
   ========================================================================== */

.section__status{
    position: relative;
    width: 100%;
}

/* Mixin
   ========================================================================== */

@mixin flexbox-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}